            /* Header Section */
            .banner-area {
                background-color: #f8f9fa;
                padding: 100px 0;
            }
            .banner-content h1 {
                font-size: 36px; /* Reduced heading font size */
                margin-bottom: 10px;
            }
            .banner-content p {
                font-size: 16px; /* Reduced paragraph font size */
                margin-bottom: 5px;
            }
            .banner-area {
                background-image: url('img/banner/banner1.jpg'); /* 배경 이미지 = banner1.jpg  */
                background-size: cover; /* 배경 이미지를 화면에 맞게 조정합니다. */
                background-position: center; /* 배경 이미지를 가운데로 정렬합니다. */
                color: rgb(255, 255, 255); /* 텍스트의 색상을 흰색으로 설정합니다. */
                padding: 100px 0; /* 섹션의 상하 여백을 설정합니다. */
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 효과를 추가합니다. */
            }
    
    
            .nav-link.btn2.btn-primary {
                background-color: #218838; /* 녹색 배경색 */
                color: rgb(255, 255, 255); /* 흰색 텍스트 */
                border: none; /* 테두리 없음 */
                padding: 8px 10px; /* 내부 여백 */
                text-align: center; /* 텍스트 가운데 정렬 */
                text-decoration: none; /* 밑줄 제거 */
                display: inline-block; /* 인라인 블록 요소 */
                font-size: 12px; /* 폰트 크기 */
                cursor: pointer; /* 포인터 커서 */
                border-radius: 10px; /* 모서리 둥글게 */
            }
            
            .nav-link.btn2.btn-primary:hover {
                background-color: #45a049; /* 마우스 호버 시 색 변화 */
            }
            
            /* 드롭박스 메뉴스타일 */
    
            .dropdown-menu {
                            display: none;
                            position: absolute;
                            background-color: transparent; /* 투명 배경색 */
                            border: none; /* 테두리 없음 */
                            border-radius: 5px; /* 테두리를 둥글게 설정 */
                            padding: 0px; /* 안쪽 여백 */
                            list-style: none; /* 리스트 스타일 제거 */
                            margin: 0; /* 마진 제거 */
                            box-shadow: none; /* 그림자 제거 */
                            z-index: 1000; /* 위에 표시 */
                            text-align: center; /* 텍스트 가운데 정렬 */
                            font-size: 14px;
                            font-weight: bold; /* 글자 굵기를 bold로 설정 */
                            width: 80px; /* 현재 너비 */
                            right: 20px; /* 오른쪽으로 10px 이동 */
                            top: 80%; /* 더보기 텍스트 아래로 위치 */
                            margin-top: 5px; /* 조정 가능한 여백 */
                            transition: background-color 0.3s; /* 배경색에 대한 부드러운 전환 효과 추가 */
                        }
    
                        .dropdown-menu li {
                            padding: 0px 0; /* 각 항목의 여백 */
                        }
    
                        .dropdown-menu li a {
                            color: #333; /* 링크 색상 */
                            text-decoration: none; /* 밑줄 제거 */
                            display: block; /* 블록 레벨 요소로 변환 */
                            padding: 8px 10px; /* 내부 여백 */
                        }
    
                        .dropdown-menu li a:hover {
                            animation: sparkle 0.5s infinite alternate; /* hover 시 반짝이는 애니메이션 적용 */
                        }
    
                        @keyframes sparkle {
                            0% {
                                background-color: #f5f5f5; /* 초기 배경색 */
                            }
                            100% {
                                background-color: #218838; /* 최종 배경색 */
                            }
                        }